.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.card {
  padding: 20px;
  border-radius: 12px;
  width: 100%;
}

.MuiButton-root {
  text-transform: none;
}

.MuiTypography-root {
  text-align: center;
}

input[type="file"] {
  display: block;
  margin: 20px auto;
}
